.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(0, 0, 255);
    opacity: 0.5;
    z-index: -1;
}

.background-img{
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/photo-1519861531473-9200262188bf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -2;
}

.logo-img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

app-register, app-login{
    display: none;
}

.displayed{
    display: inline;
}