/* body{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height:auto;
    margin: 0;
    border: 0;
    overflow: hidden;
} */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 255);
    opacity: 0.5;
    z-index: -1;
}

img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
}

.user-input{
    height: 18vh;
    margin-top: 5vh;
    outline: none;
    border-radius: 6px;
    outline-style: none;
}

input{
    border: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 280px;
    padding: 9px;
}

button, input:focus { outline: none; }

::placeholder {
    color: #c5c5c5;
}

button{
    background-color: #DFDFDF;
    width: 110px;
    margin-left: 5px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    color: #676767;
    cursor: pointer;
}