<div class="container">
    <div class="header">Sign up</div>
    <div class="user-inputs">
        <div class="primary-error" *ngIf="isRegistered">
            <div class="user-created" *ngIf="!isSuccessful"> Unsuccessful! user already exists try again...</div>
            <div class="user-not-created centered" *ngIf="isSuccessful">User created! click here to
                <div class="sign-in" (click)="ChangeDisplay()"> Sign In</div>
            </div>
        </div>

        <input #username type="text" placeholder="Username..." (keydown)="ClearErrors()"
            [ngClass]="{'invalid-input':invalidInputs.includes(username.value)}">

        <div *ngIf="invalidInputs.includes('username')" class="secondary-error">Username is invalid</div>

        <input #password type="password" placeholder="Password..." (keydown)="ClearErrors()"
            (keydown.enter)="AttemptUserRegister(username.value,password.value)"
            [ngClass]="{'invalid-input':invalidInputs.includes(password.value)}">

        <div *ngIf="invalidInputs.includes('password')" class="secondary-error">Password is invalid</div>
        <div class="centered">
            <button (click)="AttemptUserRegister(username.value,password.value)">Create</button>
        </div>
        <div class="sign-in-container centered">
            Already have an account?
            <div class="sign-in" (click)="ChangeDisplay()">Sign In</div>
        </div>
    </div>
</div>