.body{
    background-color: #4788eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button{
    border: none;
    outline: none;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
}

/* CONTAINER */

.container{
    display: flex;
    background-color: #e9e9e4;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    min-width: 450.5px;
    height: 77vh;
    padding: 4vh 3vw 1vh 3vw;
    border-radius: 0 0 5px 5px;
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header h1{
    font-size: 3vw;
    padding-bottom: 4vh;
}

.user-input{
    padding-bottom: 4vh;
}

.user-input *{
    margin-left: 1vw;
    padding: 0.8vh 1vw;
}

input{
    font-size: 1rem;
    width: 20vw;
    outline: none;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: #c5c5c5;
}

.user-input button{
    font-size: 1rem;
    margin-left: 0.7vw;
    padding: 0.6vh 1.2vw 0.6vh 1.2vw;
}

/* TABLE */

.table-container{
    width: 100%;
    overflow-x: scroll;
    height: 50vh;
    border: 5px solid #d9d9d9;
    background-color: #d9d9d9;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #707070;
    font-weight: 600;
    color: #fff;
    text-align: left;
    cursor: pointer;
    padding: 1vh .6vw;
}

td{
    padding : 0.47vh 0.6vw;
}

tr:nth-child(even) td{
    background-color: #fff;
}

tr:nth-child(odd) td{
    background-color: #d9d9d9;
}

input[type=checkbox]{
    width: 4vw;
}

/* FOOTER */

.footer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 4vh 2vw;
}

.footer button{
    font-size: 1.5vw;
    border: solid 2px #707070;
    border-radius: 8px;
    padding: 2vh 6vw;
    cursor: pointer;
}

#spacer{
       width: 189.75px;
}

.team-size{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-size: large;
    font-weight: 500;
}

/*  DTR  */

.DTRCont{
    width: 400px;
    display: flex;
    flex-direction: row;
}

.dtrInput{
    padding-left: 15px;
    padding-top: 6px;
    width: 4vw;
    height: 2vw;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.dtrHeading{
    margin-right: 10px;
}

.dtrHeading .dtrTooltip{
    visibility: hidden;
    width: 200px;
    background-color: rgb(26, 26, 26);
    color: #fff;
    font-size: .8vw;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
}

.dtrHeading:hover .dtrTooltip {
    visibility: visible;
    transition-delay: 0.5s
  }