@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw; 
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(0, 0, 255);
    opacity: 0.5;
    z-index: -1;
}

img{
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    margin-top: -15vh;
}

.user-input{
    background-color: rgba(255,255,255, 0.7);
    height: 38vh;
    width: 30vw;
    margin-top: 3vh;
    outline: none;
    border-radius: 6px;
    outline-style: none;
    padding: 5px;
}

input{
    border: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 25vw;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

button, input:focus { outline: none; }

::placeholder {
    color: #c5c5c5;
}

button{
    background-color: #DFDFDF;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: black;
    width: 110px;
    margin-left: 5px;
    padding: 9px;
    border: none;
    border: 1px solid rgb(90, 89, 89);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2vh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formDiv{
    margin-top: -3vh;
}

.loginHeader{
    font-family: 'Libre Franklin', sans-serif;
    color: #4e4e4e;
    font-size: 1.6em;
    margin-left: 1.6vw;
    margin-top: 3vh;
}

.isEmpty{
    border-color: red;
}

.inputError{
    font-size: 0.88em;
    padding: 1px;
    margin-left: 1vw;
    color: red;
}

.oneError{
    height: 39vh;
}

.allErrored{
    height: 41vh;
}

.response{
    margin-top: -4vh;
    margin-left: 1.4vw;
    margin-bottom: 4vh;
    width: 25.5vw;
    border: 1px solid yellow;
    padding: 10px;
    background-color: cornsilk;
    border-radius: 6px;
    color: #414141;
}

.responseAppears{
    height: 42vh;
}

.notCreated{
    color: red;
}

.unsuccessful{
    border: 1px solid red; 
}

a, a:visited{
    text-decoration: none;
    color: blue;
}