*{
    color: black;
}

.container{
    background-color: rgba(255,255,255, 0.7);
    min-height: 45vh;
    width: 30vw;
    margin-top: 3vh;
    outline: none;
    border-radius: 6px;
    padding: 1vh 1vw;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 2rem;
    padding: 2vh 0 1vh 1vw;
}

.user-inputs{
    padding: 0 2vh 3vh 2vh;
}

input{
    width: 100%;
    border: none;
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 25vw;
    padding: 1vh 1vw;
    margin: 5px;
    font-size: 1rem;
}

::placeholder {
    color: #c5c5c5;
}

button, input:focus { outline: none; }

button{
    background-color: #DFDFDF;
    font-weight: bold;
    margin-top: 2vh;
    min-width: 110px;
    padding: 1vh 1vw;
    border: 1px solid #707070;
    border-radius: 6px;
    cursor: pointer;
}

/* ERRORS  */
.primary-error{
    border: 1px solid yellow;
    padding: 1vh 1vw;
    background-color: cornsilk;
    border-radius: 6px;
    color: #414141;
}

.secondary-error{
    font-size: 0.8rem;
    padding: 1px;
    margin-left: 1vw;
    color: red;
}

.invalid-input{
    border: red 1px solid;
}

/* Make Account */
.sign-up-container{
    font-family: 'Libre Franklin';
    margin-top: 2vh;
}

.sign-up-container :first-child{
    margin-left: .5vw;
}

.sign-up{
    font-family: 'Libre Franklin';
    cursor: pointer;
    color: blue;
}

.sign-up:active{
    cursor: pointer;
    user-select: none;
    color: #fff;
}