.body{
    background-color: #4788eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

button{
    border: none;
    outline: none;
    background-color: #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
}

/* CONTAINER */

.container{
    display: flex;
    background-color: #e9e9e4;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    height: 77vh;
    padding: 3vh 3vw 1vh 3vw;
    border-radius: 0 0 5px 5px;
}

/* HEADER */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.header h1{
    font-size: 3vw;
    padding-bottom: 4vh;

}

.user-input{
    padding-bottom: 4vh;
}

.user-input *{
    margin-left: 1vw;
    padding: 0.50vw;
}

input{
    width: 20vw;
    outline: none;
    border: none;
    border-radius: 5px;
}

::placeholder {
    color: #c5c5c5;
}

.user-input button{
    margin-left: 0.7vw;
    padding: 1vh;
}

/* TABLE */

.table-container{
    width: 100%;
    overflow-x: scroll;
    height: 50vh;
    border: 5px solid #d9d9d9;
    background-color: #d9d9d9;
}

table{
    border-collapse: collapse;
    width: 100%;
}

/* table tr td:nth-child(3),th:nth-child(3){
    border-right: #707070 5px solid;
} */

.header-container{
    display: flex;

}

.header-container > :first-child{
    color: rgb(255, 255, 255);
    padding-right: 0.5vw;
    position: relative;
}

.header-container > :first-child > span{
    visibility: hidden;
    background-color: rgb(26, 26, 26);
    color: #fff;
    font-size: .8vw;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    z-index: 10; 
    position: relative;
    display:none;
}

.header-container > :first-child:hover > span {
    visibility: visible;
    transition-delay: 0.5s;
    position:absolute;
    z-index: 10;
    position: absolute;
    top:20px;
    /* left:20px; */
    display:block;
    background:rgb(0, 0, 0);
    color:white;
    padding:6px;
  }

  .header-container > :first-child:hover > span:after {
    right: 50%;
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgb(0, 0, 0);
	border-width: 6px;
	margin-top: -6px;
    z-index: 10;
  }

/* // gr */

th{
    background-color: #707070;
    font-weight: 600;
    color: #fff;
    text-align: left;
    cursor: pointer;
    user-select: none;
    padding: 1vh .6vw;
}

td{
    padding : 0.47vh 0.6vw;
}

tr.deselected-row:nth-child(even) td{
    background-color: #fff;
}

tr.deselected-row:nth-child(odd) td{
    background-color: #d9d9d9;
}

input[type=checkbox]{
    width: 4vw;
}

/* ROW SELECTION */
.selected-up{
    background-color: #4788eb; 
    color: #fff;
    border: none;
}

fa-icon{
    color: #fff;
}

#sort-up, #sort-down{
    display: none;
}

.selected-up #sort-up{
    display: inline;
}

.selected-up #sort-down, .selected-up #default{
    display: none;
}

.selected-down{
    background-color: red; 
    color: #fff;
    border: none;
}

.selected-down #sort-down{
    display: inline;
}

.selected-down #sort-up, .selected-down #default{
    display: none;
}

.selected-row td{
    background-color: #C4F8C4;
}

.selected-row span{
    display: inline-block;
}

/* FOOTER */

.footer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    padding: 4vh 2vw;
}

.pagination{
    display: flex;
}

.pagination *{
    margin-left: 0.5vw;
    padding: 0.3vw;
}


.arrow-divs{
    background-color: #d9d9d9;
    border: solid 2px #707070;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.1vh;
}

.page-num, .arrow-divs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-divs > .material-icons{
    transform: scale(1.5);
    padding-right: .6vw;
}

.footer button{
    font-weight: 600;
    font-size: 1.5vw;
    border: solid 2px #707070;
    border-radius: 8px;
    padding: 2vh 6vw;
    cursor: pointer;
}

.team-size{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-size: large;
    font-weight: 500;
}