<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-logo></app-logo>
<app-logout></app-logout>


<div class="body">
    <div>
        <app-tabs (updateTeam)="UpdateTeam($event)"></app-tabs>
        <div class="container">

            <div class="header">
                <div class="heading">
                    <h1>{{teamName}}</h1>
                </div>

                <div class="user-input">
                    <input #search id="search" placeholder="Search for a player..." type="text"
                        (keydown.enter)="Search(search.value)" (keyup)="CheckInputEmpty(search.value)">
                    <button (click)="Search(search.value)">Search</button>
                </div>

            </div>



            <div class="table-container" id="tablecont" (wheel)="scroll($event)">
                <table>
                    <tr>
                        <th *ngFor=" let header of headers" (click)="Sort(header)"
                            [ngClass]="{'selected-up':header==activeUpSort}"
                            [ngClass]="{'selected-down':header==activeDownSort}">

                            <div class="header-container">

                                <!-- tooltips -->
                                <div class="firstHeader" *ngIf="header === 'selected'">{{ header.toLowerCase() }} </div>
                                <div class="secondHeader" *ngIf="header === 'FIRSTNAME'">{{ header.toLowerCase() }}
                                </div>
                                <div class="thirdHeader" *ngIf="header === 'LASTNAME'">{{ header.toLowerCase() }}
                                </div>
                                <div *ngIf="header === 'AGE'">{{ header.toLowerCase() }}
                                    <span> Players age </span>
                                </div>
                                <div *ngIf="header === 'GP'">{{ header.toLowerCase() }}
                                    <span> Games Played </span>
                                </div>
                                <div *ngIf="header === 'MINS'">{{ header.toLowerCase() }}
                                    <span> Minutes Played </span>
                                </div>
                                <div *ngIf="header === 'PLUS_MINUS'">{{ header.toLowerCase() }}
                                    <span> The stat "Plus/Minus" reflects how the team did while that player is on the
                                        court.
                                        If a player has a +5 PM, it means his team outscored the opponent by 5 points
                                        while he was on the court.
                                        If he has a -3, then the opposing team outscored his team by 3 points while he
                                        was on the court. </span>
                                </div>
                                <div *ngIf="header === 'AST'">{{ header.toLowerCase() }}
                                    <span> Assists </span>
                                </div>
                                <div *ngIf="header === 'BLK'">{{ header.toLowerCase() }}
                                    <span> Blocks </span>
                                </div>
                                <div *ngIf="header === 'BLKA'">{{ header.toLowerCase() }}
                                    <span> Block Attempts </span>
                                </div>
                                <div *ngIf="header === 'OREB'">{{ header.toLowerCase() }}
                                    <span> Offensive Rebounds </span>
                                </div>
                                <div *ngIf="header === 'DREB'">{{ header.toLowerCase() }}
                                    <span> Defensive Rebounds </span>
                                </div>
                                <div *ngIf="header === 'FG_PCT'">{{ header.toLowerCase() }}
                                    <span> Field Goal Percentage </span>
                                </div>
                                <div *ngIf="header === 'FG3_PCT'">{{ header.toLowerCase() }}
                                    <span> 3-Point Field Goal Percentage </span>
                                </div>
                                <div *ngIf="header === 'FG3A'">{{ header.toLowerCase() }}
                                    <span> 3-Point Field Goal Attempts </span>
                                </div>
                                <div *ngIf="header === 'FG3M'">{{ header.toLowerCase() }}
                                    <span> 3-Point Field Goal Made </span>
                                </div>
                                <div *ngIf="header === 'FGA'">{{ header.toLowerCase() }}
                                    <span> Field Goals Attempts </span>
                                </div>
                                <div *ngIf="header === 'FGM'">{{ header.toLowerCase() }}
                                    <span> Field Goals Made </span>
                                </div>
                                <div *ngIf="header === 'FT_PCT'">{{ header.toLowerCase() }}
                                    <span> Free Throw Percentage </span>
                                </div>
                                <div *ngIf="header === 'FTA'">{{ header.toLowerCase() }}
                                    <span> Free Throw Attempts </span>
                                </div>
                                <div *ngIf="header === 'FTM'">{{ header.toLowerCase() }}
                                    <span> Free Throws Made </span>
                                </div>
                                <div *ngIf="header === 'W'">{{ header.toLowerCase() }}
                                    <span> Wins </span>
                                </div>
                                <div *ngIf="header === 'L'">{{ header.toLowerCase() }}
                                    <span> Losses </span>
                                </div>
                                <div *ngIf="header === 'W_PCT'">{{ header.toLowerCase() }}
                                    <span> Win Percentage </span>
                                </div>
                                <div *ngIf="header === 'PF'">{{ header.toLowerCase() }}
                                    <span> Personal Fouls </span>
                                </div>
                                <div *ngIf="header === 'PFD'">{{ header.toLowerCase() }}
                                    <span> Personal Fouls Drawn </span>
                                </div>
                                <div *ngIf="header === 'REB'">{{ header.toLowerCase() }}
                                    <span> Rebounds </span>
                                </div>
                                <div *ngIf="header === 'TOV'">{{ header.toLowerCase() }}
                                    <span> Turnovers </span>
                                </div>
                                <div *ngIf="header === 'STL'">{{ header.toLowerCase() }}
                                    <span> Steals </span>
                                </div>
                                <div *ngIf="header === 'PTS'">{{ header.toLowerCase() }}
                                    <span> Points </span>
                                </div>
                                <!-- end tooltips -->

                                <span id="default">
                                    <fa-icon [icon]="faSortIcon"></fa-icon>
                                </span>
                                <span id="sort-up">
                                    <fa-icon [icon]="faSortIconUp"></fa-icon>
                                </span>
                                <span id="sort-down">
                                    <fa-icon [icon]="faSortIconDown"></fa-icon>
                                </span>
                            </div>
                        </th>

                    </tr>
                    <!-- <div class="test"> -->
                    <tr *ngFor="let player of players" (click)="ManageSelectedPlayers(player)"
                        [ngClass]="{'selected-row': selectedPlayersKeys.includes(player.player_key), 'deselected-row': !selectedPlayersKeys.includes(player.player_key)}">
                        <td class="firstColumn">
                            <input type="checkbox" [checked]='selectedPlayersKeys.includes(player.player_key)'
                                [disabled]="selectedPlayersKeys.length == 15" />
                        </td>
                        <!-- This section looks as though it would be easier to iterate over like the headers -->
                        <!-- But being able to add the "column" class really shrinks the jquery section -->
                        <td class="secondColumn">{{player.firstname }}</td>
                        <td class="thirdColumn">{{ player.lastname }}</td>
                        <td>{{ player.age }}</td>
                        <td>{{ player.gp }}</td>
                        <td>{{ player.mins }}</td>
                        <td>{{ player.pluS_MINUS }}</td>
                        <td>{{ player.ast }}</td>
                        <td>{{ player.blk }}</td>
                        <td>{{ player.blka }}</td>
                        <td>{{ player.oreb }}</td>
                        <td>{{ player.dreb }}</td>
                        <td>{{ player.fG_PCT }}</td>
                        <td>{{ player.fG3_PCT }}</td>
                        <td>{{ player.fG3A }}</td>
                        <td>{{ player.fG3M }}</td>
                        <td>{{ player.fga }}</td>
                        <td>{{ player.fgm }}</td>
                        <td>{{ player.fta }}</td>
                        <td>{{ player.fT_PCT }}</td>
                        <td>{{ player.ftm }}</td>
                        <td>{{ player.w }}</td>
                        <td>{{ player.l }}</td>
                        <td>{{ player.w_PCT }}</td>
                        <td>{{ player.pf }}</td>
                        <td>{{ player.pfd }}</td>
                        <td>{{ player.reb }}</td>
                        <td>{{ player.tov }}</td>
                        <td>{{ player.stl }}</td>
                        <td>{{ player.pts }}</td>
                    </tr>
                    <!-- </div> -->
                </table>
            </div>

            <div class="error-messgae" [ngClass]="{'error-message-display':error}">
                You can only select 15 players at a time - Please de-select a player before selecting a new
                one
            </div>

            <div class="footer">
                <div class="team-size">
                    <div [ngClass]="{'error':error}">{{selectedPlayersKeys.length}}/15</div>
                    <div>Players Selected</div>
                </div>
                <div class="pagination">
                    <div class="arrow-divs" (click)="DecreasePage()">
                        <span class="material-icons">
                            chevron_left
                        </span>
                    </div>

                    <div class="page-num">
                        <span>{{this.pageNum}}/{{this.pages}}</span>
                    </div>

                    <div class="arrow-divs" (click)="IncreasePage()">
                        <span class="material-icons">
                            chevron_right
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>