.small-logo {
  display: none;
}

img {
  top: 2vh;
  left: 1vw;
  position: absolute;
  max-width: 20vh;
  max-height: 20vh;
}

/* Logic to swap to smaller logo when screen is too small */
@media only screen and (max-width: 1380px) {
  .large-logo {
    display: none;
  }
  .small-logo {
    display: block;
    max-height: 14vh;
  }
}

/* Logic to remove logo when screen is very small */
@media  only screen and (max-width: 600px) {
  .large-logo {
    display: none;
  }
  .small-logo {
    display: none;
  }
}