.small-logo{
    display: none;
}

img{
    top: 2vh;
    left: 2vw;
    position: absolute;
    max-width: 20vh;
    max-height: 20vh;
}

/* Logic to swap between the two logos when a screen is too small */
@media only screen and (max-width: 1000px){
    .large-logo{
      display: none;
    }
 
    .small-logo{
      display: block;
    }
 }